<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container mt-3">
        <div th:if="${param.success}"
             class="toast align-items-center text-white bg-success border-0 position-fixed top-0 end-0"
             role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 75px; margin-right: 10px">
            <div class="d-flex">
                <div class="toast-body">
                    You have successfully registered. Please check you email for activation link.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div th:if="${param.logout}"
             class="toast align-items-center text-white bg-success border-0 position-fixed top-0 end-0"
             role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 75px; margin-right: 10px">
            <div class="d-flex">
                <div class="toast-body">
                    You have been logged out.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div th:if="${param.alreadyExists}"
             class="toast align-items-center text-white bg-danger border-0 position-fixed top-0 end-0"
             role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 75px; margin-right: 10px">
            <div class="d-flex">
                <div class="toast-body">
                    Username already exists.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div th:if="${param.error}"
             class="toast align-items-center text-white bg-danger border-0 position-fixed top-0 end-0"
             role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 75px; margin-right: 10px">
            <div class="d-flex">
                <div class="toast-body">
                    Failed to log in. Invalid credentials.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="auth-container">
            <h2 class="text-center">Login</h2>
            <form id="loginForm" method="post"
                  role="form"
                  th:action="@{/auth/login}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" id="loginBtn" class="btn btn-primary btn-block">Submit</button>
            </form>

            <p>Don't have an account? <a th:href="@{/auth/registration}">Sign up now.</a></p>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</body>
</html>