<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div th:replace="~{alerts/registrationAlerts :: registrationAlerts}"></div>

    <div class="container">
        <div class="auth-container">
            <h2 class="text-center">Sign up</h2>
            <form id="signUpForm" method="post"
                  role="form"
                  th:object="${user}"
                  th:action="@{/auth/registration}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input th:field="*{username}" type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input th:field="*{email}" type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                </div>
                <button id="signUpBtn" type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</body>
</html>