<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div th:replace="~{alerts/userAlerts :: userAlerts}"></div>

    <div class="container">
        <div th:object="${user}" class="user-container">
            <div class="user-header">
                <strong><div sec:authentication="name" class="user-name">John Doe</div></strong>
                <th:block th:each="r, iter:${#authentication.getAuthorities()}">
                    <span th:text="${r}"></span>
                    <th:block th:if="${!iter.last}">, </th:block>
                </th:block>
            </div>
            <div class="user-details">
                <div class="user-details-row">
                    <div class="fw-bold">Account ID:</div>
                    <div th:text="${user.getAccountID()}">#123456</div>
                </div>
                <div class="user-details-row">
                    <div class="fw-bold">Email:</div>
                    <div th:text="${user.email}">john.doe@example.com</div>
                </div>
                <div class="user-details-row">
                    <div class="fw-bold">Account Creation Date:</div>
                    <div th:text="${user.creationDate}">2023-08-25</div>
                </div>
                <div class="user-details-row">
                    <div class="fw-bold">Servers:</div>
                    <div th:text="${user.servers.size()}">10</div>
                </div>
                <div class="user-details-row">
                    <div class="fw-bold">Server Groups:</div>
                    <div th:text="${user.serverGroups.size()}">10</div>
                </div>
            </div>
            <div class="user-actions">
                <a href="#" class="btn btn-primary user-action-button" data-bs-toggle="modal" data-bs-target="#editModal">Edit Account</a>
                <a href="#" class="btn btn-primary user-action-button">Change Password</a>
                <a href="#" class="btn btn-danger user-action-button" data-bs-toggle="modal" data-bs-target="#deactivateModal">Deactivate Account</a>
                <a href="#" class="btn btn-danger user-action-button" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</a>
            </div>
        </div>

        <div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="deactivateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deactivateModalLabel">Account Deactivation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <form method="post"
                          role="form"
                          th:action="@{/auth/user/deactivate}">
                        <div class="modal-body">
                            <p>Are you sure about your decision? If so and would like to proceed with the account deactivation, please enter your password and click the button below.
                            It will immediately log you out.</p>
                            <p>If you have changed your mind, please click the cancel button and your account will remain active.</p>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password for confirmation" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Deactivate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Account Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <form method="post"
                          role="form"
                          th:action="@{/auth/user/delete}">
                        <div class="modal-body">
                            <p>Are you sure about your decision? If so and would like to proceed with the account deletion, please enter your password and click the button below.</p>
                            <p>It will immediately delete your account from our system <strong>permanently</strong>.</p>
                            <p>If you have changed your mind, please click the cancel button.</p>

                            <div class="mb-3">
                                <label for="passwordDeletion" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordDeletion" name="passwordDeletion" placeholder="Enter your password for confirmation" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Account Edit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <form method="post"
                          role="form"
                          th:action="@{/auth/user/edit}">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input th:value="${user.username}" type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input th:value="${user.email}" type="text" class="form-control" id="email" name="email">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</body>
</html>