<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: html_header"></head>
<body>
    <footer th:fragment="footer" class="text-center footer-top text-lg-start">
        <div class="text-center p-3 bg-light">
            &copy; 2025
            <a style="color: #5ab510" href="https://github.com/martinvass/penguin"><b>Penguin</b></a>
        </div>

        <script th:inline="javascript">
            // Show and hide toasts
            var toasts = document.querySelectorAll('.toast');
            toasts.forEach(function(toast) {
                var bootstrapToast = new bootstrap.Toast(toast);
                bootstrapToast.show();
                toast.addEventListener('hidden.bs.toast', function () {
                    toast.remove();
                });
            });
        </script>
    </footer>
</body>
</html>