<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="html_header">
    <title th:text="${title}">Penguin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/auth.css}" href="../../static/css/auth.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../../static/css/dashboard.css">

    <script th:src="@{/js/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/61a424255f.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav th:fragment="header" class="navbar navbar-bottom sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand me-2" th:href="@{/}" href="/">
                <b style="color: #198754">🐧 Penguin</b>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link btn-link px-3 btn" th:href="@{/dashboard}" href="/dashboard">Dashboard</a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link btn-link px-3 btn" th:href="@{/admin}" href="/admin">Admin Panel</a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link btn-link px-3 btn" th:href="@{/features}" href="/features">Features</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn-link px-3 btn" href="#">Documentation</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center">
                    <li sec:authorize="isAuthenticated()" class="nav-item me-3 me-lg-1">
                        <a class="nav-link d-sm-flex align-items-sm-center" th:href="@{/auth/user}">
                            <span><i class="fa fa-user"></i></span>
                            <strong sec:authentication="name" class="d-none d-sm-block ms-1"></strong>
                            <strong style="color: #0288b9;" sec:authorize="hasAuthority('ADMIN')">&nbsp;[A]</strong>
                            <strong style="color: #ffbc3c;" sec:authorize="hasAuthority('TEST')">&nbsp;[T]</strong>
                        </a>
                    </li>

                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-link px-3 me-2">
                        Logout
                    </a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/auth/login}" href="/auth/login" class="btn btn-link px-3 me-2">
                        Login
                    </a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/auth/registration}" href="/auth/registration" class="btn btn-primary me-3">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>