<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div th:replace="~{alerts/serverGroupAlerts :: serverGroupAlerts}"></div>

    <div class="container">
        <div class="p-5 text-center bg-light" style="margin-top: 58px;">
            <h1 class="mb-3" th:text="${group.name}"><b>Group</b></h1>

            <button class="btn btn-primary" role="button"><a style="color: #fff" th:href="@{/dashboard#groups}">Go Back</a></button>
            <button class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addServerModal">
                Add Server
            </button>
        </div>

        <!-- Add server modal -->
        <div class="modal fade" id="addServerModal" tabindex="-1" role="dialog" aria-labelledby="addServerModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addServerModalLabel">Add Server</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <form method="post"
                          role="form"
                          th:action="@{/dashboard/group/add}">
                        <input type="hidden" name="groupId" th:value="${group.id}" />
                        <div class="modal-body">
                            <p>Please pick the server you'd like to add:</p>
                            <div class="mb-3">
                                <select name="serverName" class="form-select" aria-label="Select server">
                                    <option selected th:value="0">Open this to select a server</option>
                                    <option th:each="server : ${servers}" th:value="${server.name}" th:text="${server.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add Server</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane container active" id="servers">
                <div class="dashboard-container">
                    <div th:if="${group.servers.size() == 0}">
                        <p class="no-servers-message">No servers</p>
                    </div>
                    <div th:each="server: ${group.servers}" class="server-card">
                        <div class="server-info">
                            <div class="server-icon"><i class="fas fa-server"></i></div>
                            <div>
                                <div th:text="${server.name}" class="server-name">Server 1</div>
                                <div th:text="${server.address}">127.0.0.1</div>
                                <div id="server-status" th:text="${server.serverStatus.name}"
                                     th:class="${server.serverStatus.name() == 'UP' ? 'server-status-online' :
                (server.serverStatus.name() == 'DOWN' ? 'server-status-offline' : 'server-status-unknown')}">
                                    Server Down
                                </div>
                            </div>
                        </div>
                        <p style="color: #737373" th:text="${server.description} ?: ${server.description}">Description</p>
                        <div class="server-actions">
                            <a th:href="@{/dashboard/server/{id}(id=${server.id})}" class="btn btn-primary server-action-button">View</a>
                            <form method="post"
                                  role="form"
                                  th:action="@{/dashboard/group/remove}">
                                <input type="hidden" name="serverId" th:value="${server.id}" />
                                <button type="submit" class="btn btn-danger server-action-button">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</body>
</html>