<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
        <div class="container">
            <div class="p-5 text-center bg-light" style="margin-top: 58px;">
                <h1 class="mb-3"><b>Dashboard</b></h1>
            </div>

            <!-- Add Server Modal -->
            <div class="modal fade" id="addServerModal" tabindex="-1" role="dialog" aria-labelledby="addServerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addServerModalLabel">Add Server</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <form method="post"
                              role="form"
                              th:action="@{/dashboard/server/create}">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="serverName" class="form-label">Server name</label>
                                    <input type="text" class="form-control" id="serverName" name="serverName" placeholder="Enter server name" required />
                                </div>
                                <div class="mb-3">
                                    <label for="serverAddr" class="form-label">Server address</label>
                                    <input type="text" class="form-control" id="serverAddr" name="serverAddr" placeholder="Enter server address" required />
                                </div>
                                <div class="mb-3">
                                    <label for="serverDesc" class="form-label">Server description</label>
                                    <input type="text" class="form-control" id="serverDesc" name="serverDesc" placeholder="Enter server description" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Add Group Modal -->
            <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addGroupModalLabel">Add Group</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <form method="post"
                              role="form"
                              th:action="@{/dashboard/group/create}">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="groupName" class="form-label">Group name</label>
                                    <input type="text" class="form-control" id="groupName" name="groupName" placeholder="Enter group name" required />
                                </div>
                                <div class="mb-3">
                                    <label for="groupDesc" class="form-label">Group description</label>
                                    <input type="text" class="form-control" id="groupDesc" name="groupDesc" placeholder="Enter group description" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Server Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <form method="post"
                              role="form"
                              th:action="@{/dashboard/server/edit}">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="serverNameModal" class="form-label">Server name</label>
                                    <input type="text" class="form-control" id="serverNameModal" name="serverNameModal">
                                </div>
                                <div class="mb-3">
                                    <label for="serverAddrModal" class="form-label">Server address</label>
                                    <input type="text" class="form-control" id="serverAddrModal" name="serverAddrModal">
                                </div>
                                <div class="mb-3">
                                    <label for="serverDescModal" class="form-label">Server description</label>
                                    <input type="text" class="form-control" id="serverDescModal" name="serverDescModal">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#servers">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#groups">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#settings">Settings</a>
                </li>

                <li class="nav-item flex-grow-1"></li>
                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addServerModal">
                        Add Server
                    </button>
                </li>

                <li class="nav-item ms-2">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGroupModal">
                        Add Group
                    </button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="servers">
                    <div class="dashboard-container">
                        <div th:each="server: ${servers}" class="server-card">
                            <div class="server-info">
                                <div class="server-icon"><i class="fas fa-server"></i></div>
                                <div>
                                    <div class="server-name">
                                        <span th:text="${server.name}">Server 1</span>
                                        <span class="server-group-name" th:if="${server.serverGroup != null}" th:text="' (' + ${server.serverGroup.name} + ')'">(Group 1)</span>
                                    </div>
                                    <div th:text="${server.address}">127.0.0.1</div>
                                    <div th:text="${server.serverStatus}"
                                         th:class="${server.serverStatus == 'ONLINE' ? 'server-status-online' :
                (server.serverStatus == 'OFFLINE' ? 'server-status-offline' : 'server-status-unknown')}">
                                        Offline
                                    </div>
                                </div>
                            </div>
                            <p th:text="${server.description} ?: ${server.description}">Description</p>
                            <div class="server-actions">
                                <a href="#" class="btn btn-primary server-action-button">View Details</a>
                                <button
                                        data-bs-toggle="modal"
                                        data-bs-target="#editModal"
                                        class="edit-btn btn btn-primary server-action-button"
                                        th:data-server-name="${server.name}" th:data-server-address="${server.address}" th:data-server-description="${server.description}">
                                    Edit
                                </button>
                                <form method="post"
                                      role="form"
                                      th:action="@{/dashboard/server/delete}">
                                    <input type="hidden" name="serverId" th:value="${server.id}" />
                                    <button type="submit" class="btn btn-danger server-action-button">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane container fade" id="groups">
                    <div class="dashboard-container">
                        <div th:each="group: ${groups}" class="server-card">
                            <div class="server-info">
                                <div class="server-icon"><i class="fas fa-layer-group"></i></div>
                                <div>
                                    <div th:text="${group.name}" class="server-name">Group 1</div>
                                    <div th:text="${group.servers.size() + ' server(s)'}" class="server-status-online">1 server(s)</div>
                                </div>
                            </div>
                            <p th:text="${group.description}">Group description</p>
                            <div class="server-actions">
                                <a th:href="@{/dashboard/groups/{groupName}(groupName=${group.name})}" class="btn btn-primary server-action-button">View Servers</a>
                                <a href="#" class="btn btn-primary server-action-button">Edit</a>
                                <form method="post"
                                      role="form"
                                      th:action="@{/dashboard/group/delete}">
                                    <input type="hidden" name="groupId" th:value="${group.id}" />
                                    <button type="submit" class="btn btn-danger server-action-button">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane container fade" id="settings">
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>

    <script th:inline="javascript">
        const editButtons = document.querySelectorAll(".edit-btn");
        const serverNameInput = document.getElementById("serverNameModal");
        const serverAddressInput = document.getElementById("serverAddrModal");
        const serverDescriptionInput = document.getElementById("serverDescModal");

        editButtons.forEach(button => {
            button.addEventListener("click", function () {
                const serverName = button.getAttribute("data-server-name");
                const serverAddress = button.getAttribute("data-server-address");
                const serverDescription = button.getAttribute("data-server-description");

                serverNameInput.value = serverName;
                serverAddressInput.value = serverAddress;
                serverDescriptionInput.value = serverDescription;
            });
        });
    </script>
    </div>
</body>
</html>