<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>
    <div>
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="p-5 text-center bg-light" style="margin-top: 58px;">
            <h1 class="mb-3"><b>Penguin Application</b></h1>
            <h4 class="mb-3">Monitoring Server Status</h4>
            <a class="btn btn-primary" href="" role="button">Get Started</a>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</body>
</html>